/*
 * ==============
 * Css selector :
 * ==============
 * class => .
 * id	 => #
*/

.container {
	padding-top: 1em;
}

/* Divs in the center with stats */
.divsCenter:not(.first) {
	padding-top: 4em;
}

.divsCenter .panel-default.clickable:hover {
	background-color: #e0e0e0;
}

/* /Divs in the center with stats */

/* Row : "icon FramaXXX Update : 22h22" */
.serviceNameRow {
	position : relative;
}

.timeUpdate_large {
	position: absolute;
	bottom: 0.5em;
	right : 0;
	padding-right : 5%;
	padding-top: 20px;
}

.textUpdate_large {
	text-align: right;
}

.timeUpdate_small {
	position : relative;
	bottom : 1em;
	margin-bottom : -1em;
}
/* /Row : "icon FramaXXX Update : 22h22" */

/* For each panel stat*/
.statInTitle {
	text-align : right;
	color : #6A5687;
	padding-right : 10%;
}

.statNameInTitle {
	padding-left : 10%;
}

.statNameInTitle, .icon  {
	color : #343434; /* dark-grey */
}

.clickable .statNameInTitle:hover, .clickable .icon:hover  {
	color : #635182; /* dark-violet */
}
/* /For each panel stat*/

/* Chart.js */
.notDisplayChart {
	display : none;
}

.charts {
	padding : 2%;
	background-color: #F5F5F5;
}

/* Disable Bootstrap css */
.divsCenter .panel-default {
	background-color: transparent;
	border-color : transparent;
}

.divsCenter .panel {
	box-shadow : 0 0px 0px rgba(0, 0, 0, 0);
}

.divsCenter .panel-heading {
	background-color: transparent;
}
/* /Disable Bootstrap css */

/* Framastats nav */
ul.nav-tabs{
	width: 140px;
	margin-top: 20px;
	border-radius: 4px;
	border: 1px solid #ddd;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
ul.nav-tabs li{
	margin: 0;
	border-top: 1px solid #ddd;
}
ul.nav-tabs li:first-child{
	border-top: none;
}
ul.nav-tabs li a{
	margin: 0;
	padding: 8px 16px;
	border-radius: 0;
}
ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
	color: #fff;
	background: #6A5687;
	border: 1px solid #6A5687;
}
ul.nav-tabs li:first-child a{
	border-radius: 4px 4px 0 0;
}
ul.nav-tabs li:last-child a{
	border-radius: 0 0 4px 4px;
}
ul.nav-tabs.affix{
	top: 30px; /* Set the top position of pinned element */
}
/* /Framastats nav */

.container.ombre h2::after {
	content: none !important;
}